@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Find Games</h1>
    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
    {
        @Html.TextBox("gamesearch");
        <br />
        <input type="submit" class="btn btn-default" value="Search" sytle="height:25px; width:30px"/>
    }
</div>

@if (Request.IsAuthenticated)
{
    <input type="button" value="What should I play?" class="btn btn-default" onclick="javascript:PickGame()" />
    <div id="randomgame"></div>
}

@section scripts
{
    <script type="text/javascript">
        function PickGame()
        {
            var url = '@Url.Action("SelectRandomGame", "Home")';
            $("#randomgame").load(url);
        }
    </script>
    
}