@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Search For Games</h1><br />
    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
    {
        @Html.TextBox("gamesearch");
        <br />
        <input type="submit" value="Search" sytle="height:25px; width:50px"/>
    }
</div>