@model IEnumerable<GameDecider.Models.Platform>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @using (Html.BeginForm("AddGame", "Search", new { plat_id_str = item.PlatformID, game_id = ViewBag.GameId }, FormMethod.Post))
                {
                    <input type="submit" value="@item.Name" />
                }
            </td>
        </tr>
    }

</table>